/*-----------Geral-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #fafafa;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    background-color: #1e293b;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #38bdf8; 
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    color: #222;
}

.subtitle {
    font-size: 1.25rem;
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    padding: 0 1rem;
}

ul {
    padding-left: 2rem;
    list-style-position: inside;
}

h2 {
    margin-top: 2rem;
}
/*---------------------------*/


/*----------Project----------*/
.project-image {
    margin-top: 2rem;
}

.project-image img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.caption {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.5rem;
}

.project-description {
    margin-top: 2rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 1.6;
}
/*---------------------------*/


/*----------Authors----------*/
.authors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
  
.author-card {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: white;
    width: 600px;
    height: 250px; /* <-- altura mínima consistente */
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.author-photo {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}
  
.author-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #555;
}
  
.author-info {
    flex-grow: 1;
}
.author-info h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
}
.author-info p {
    margin: 5px 0 0;
    font-size: 1em;
}
/*---------------------------*/


/*---------Dark Mode---------*/
html.dark-mode body {
  background-color: #0f172a;
  color: white;
}

html.dark-mode header {
    background-color: #1e293b;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
}

html.dark-mode .navbar {
    background-color: #334155;
}

html.dark-mode .navbar a {
    color: #f1f5f9;
}

html.dark-mode .navbar a:hover {
    color: #38bdf8;
}

html.dark-mode .main-title {
    color: #e2e8f0;
}

html.dark-mode .subtitle,
html.dark-mode .about-text,
html.dark-mode .project-description,
html.dark-mode .caption,
html.dark-mode .author-info p {
    color: #cbd5e1;
}

html.dark-mode .author-card {
    background-color: #1e293b;
    border-color: #475569;
}

html.dark-mode .author-photo {
    border-color: #cbd5e1;
}

html.dark-mode .author-card img {
    border-color: #cbd5e1;
}

#theme-select {
    position: absolute;
    /* right: 20px;
    top: 30px; */
    right: 5px;
    bottom: 5px;
    padding: 2px 4px;
    border: none;
    border-radius: 8px;
    background-color: #f1f5f9;
    color: #0f172a;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 90px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 0.6em;
}

html.dark-mode #theme-select {
    background-color: #1e293b;
    color: #f1f5f9;
}

html.dark-mode a {
    color: lightblue; 
}
/*---------------------------*/


/*-----------Chart-----------*/
#chart-container {
    display: flex;
    justify-content: center;
}

.bar {
    stroke: none;
    transition: 0.2s;
    cursor: pointer;
}

.bar:hover {
    stroke: #272727;
    stroke-width: 2px;
}

html.dark-mode 
.bar:hover {
    stroke: #bfbfbf;
    stroke-width: 2px;
}
/*---------------------------*/
  

/*------------Map------------*/
#map-container {
    cursor: pointer;
}

#map-container:hover {
    transform: scale(1.05);
}
/*---------------------------*/


/*--------ResetButton--------*/
#control-panel {
    text-align: center;
    margin-top: 20px;
    max-width: 700px;
}

#reset-button {
    width: 100%;
    padding: 6px 12px;
    background-color: #19356a; 
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#reset-button:hover {
    border-color: #0f172a;
}

#select-button {
    padding: 6px 12px;
    background-color: #19356a; 
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#select-button option {
    background-color: #1b3f6c; 
    color: #fff;
}

.legend-item {
    cursor: pointer; 
}

.legend-rect {
    stroke: black; 
    stroke-width: 1;
}

html.dark-mode .legend-rect {
    stroke: #bfbfbf; 
}

.legend-text {
    fill:  black; 
    font-size: 16px;
}

html.dark-mode .legend-text{
    fill: white;
}

.legend-item:hover .legend-rect {
    transform: scale(1.05);
    stroke-width: 2;
}

.legend-item:hover .legend-text {
    transform: scale(1.05);
}
/*---------------------------*/


/*----------Tooltip----------*/
.tooltip {
    background: #f1f5f9;
    color: #1e293b;
    border: 1px solid #cbd5e1;
    padding: 8px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    font-size: 14px;
}
  
/* Tooltip no modo escuro */
html.dark-mode .tooltip {
    background: #1e293b;
    color: #f1f5f9;
    border: 1px solid #475569;
}

/*---------------------------*/


/*----------Outliers---------*/
/* Estilo padrão (modo claro) */
.outlier-point {
    fill: #475569;
    stroke: #a4a4a4;
    cursor: pointer;
}

.outlier-point:hover {
    stroke-width: 2;
}

/* Estilo no modo escuro */
/* html.dark-mode .outlier-point {
    fill: #475569; 
    stroke: #f1f5f9;
} */
/*---------------------------*/


/*----------Rótulos----------*/
.y-label {
    fill: black;
    font-weight: normal;
}

html.dark-mode .y-label {
    fill: #f1f5f9;
}

.x-label{
    fill: black;
    font-weight: normal;
}

html.dark-mode .x-label {
    fill: #f1f5f9;
}
/*---------------------------*/


/*----------BoxPlot----------*/
.median {
    stroke: #646464;
    cursor: pointer;
}

.median:hover {
    stroke: #646464;
    stroke-width: 3px;
}

.q1-line {
    stroke: #646464;
    cursor: pointer;
}

.q1-line:hover {
    stroke: #646464;
    stroke-width: 3px;
}

.q3-line {
    stroke: #646464;
    cursor: pointer;
}

.q3-line:hover {
    stroke: #646464;
    stroke-width: 3px;
}

.q4-line {
    stroke: #646464;
    cursor: pointer;
}

.q4-line:hover {
    stroke: #646464;
    stroke-width: 3px;
}

.q0-line {
    stroke: #646464;
    cursor: pointer;
}

.q0-line:hover {
    stroke: #646464;
    stroke-width: 3px;
}

.q0-q1 {
    stroke: #646464;
    stroke-width: 2;
}

.q3-q4 {
    stroke: #646464;
    stroke-width: 2;
}

.q0-q0 {
    stroke: #646464;
    stroke-width: 2;
}

.q4-q4 {
    stroke: #646464;
    stroke-width: 2;
}

.box {
    stroke: #646464;
    stroke-width: 2;
}
/*---------------------------*/


/*----------HeatMap----------*/
#heatmaps {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0.5rem auto;
    max-width: 1000px;
}
 
.heatmap-wrapper {
    flex: 1 1 45%;
    max-width: 480px;
    text-align: center;
}

.heatmap-wrapper svg {
    width: 100%;
    height: auto;
    display: block;
}

.heatmap-wrapper h3 {
    margin-left: 105px
}

#heatmap2019, 
#heatmap2020 {
    width: 100%;
    height: auto;
    min-width: 400px;
    min-height: 400px;
    margin: 0 auto;
}

#colorbar {
    width: 60%;
    margin: 1rem auto;
    text-align: center;
}
#colorbar svg {
    width: 100%;
    height: auto;
}

#colorbar text {
    fill: currentColor;
}

.axis-label {
    fill: currentColor
}

#variable1 {
    padding: 6px 12px;
    background-color: #19356a; 
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#variable1 option {
    background-color: #1b3f6c; 
    color: #fff;
}

#variable2 {
    padding: 6px 12px;
    background-color: #19356a; 
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#variable2 option {
    background-color: #1b3f6c; 
    color: #fff;
}

@media (max-width: 768px) {
    #heatmaps {
        flex-direction: column;
        align-items: center;
    }

    .heatmap-wrapper {
        flex: 1 1 100%;
        max-width: 100%;
    }

    #colorbar {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
    }
    #colorbar svg {
        width: 100%;
        height: auto;
    }
}
/*---------------------------*/


/*------Para as colunas------*/
@media (min-width: 700px){
    .layout {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }
    
    /* Coluna do mapa */
    .map-pane {
        flex: 1;
        max-width: 700px;
        position: sticky;
        top: 100px;
        align-self: flex-start;
        background-color: #f8f8f8;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

    .map-pane > *:first-child {
        margin-top: 5px;
    }

    html.dark-mode .map-pane {
        background-color: #142f51;
    }
    
    /* Coluna dos gráficos */
    .charts-pane {
        flex: 2;
        overflow-x: hidden;
    }  

    #selected-regions {
        margin-top: 5px;
        max-height: 130px; 
        overflow-y: auto;  
    }

    .selected-title {
        font-size: 12px;
        text-transform: capitalize;
    } 
}
/*---------------------------*/
